// Change the colors of button texts
.button {
  color: $white;

  &.button-alternative,
  &.button-alternative-2 {
    color: $white;
  }
}

body,
body.app-body,
.ui {
  background: $ui-base-color;
  background-image: $base-color-diamonds;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
}


// Onboarding
.pseudo-drawer,
.onboarding-modal__paginator {
  background-color: $ui-highlight-color;
  background-image: $highlight-color-diamonds;
}

.onboarding-modal__paginator {
  .onboarding-modal__nav {
    color: $white;
  }

  .onboarding-modal__nav.onboarding-modal__done {
    color: $white;
  }
}

.onboarding-modal__dot {
  background: $white;
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-color;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: lighten($scrollbar-color, 10%);
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: rgba($black, 0.2);
}

// Change the text colors on inverted background
.privacy-dropdown__option.active .privacy-dropdown__option__content,
.privacy-dropdown__option.active .privacy-dropdown__option__content strong,
.privacy-dropdown__option:hover .privacy-dropdown__option__content,
.privacy-dropdown__option:hover .privacy-dropdown__option__content strong,
.dropdown-menu__item a:active,
.dropdown-menu__item a:focus,
.dropdown-menu__item a:hover,
.actions-modal ul li:not(:empty) a.active,
.actions-modal ul li:not(:empty) a.active button,
.actions-modal ul li:not(:empty) a:active,
.actions-modal ul li:not(:empty) a:active button,
.actions-modal ul li:not(:empty) a:focus,
.actions-modal ul li:not(:empty) a:focus button,
.actions-modal ul li:not(:empty) a:hover,
.actions-modal ul li:not(:empty) a:hover button,
.admin-wrapper .sidebar ul ul a.selected,
.simple_form .block-button,
.simple_form .button,
.simple_form button {
  color: $white;
}

.simple_form {
  input[type=text],
  input[type=number],
  input[type=email],
  input[type=password],
  textarea {
    &:active,
    &:focus {
      border-bottom-color: $highlight-text-color;
      background: rgba($base-overlay-background, 0.1);
    }
  }
}

// About page
body.about-body {
  background: $ui-base-color;
  background-image: $base-color-diamonds;
}

.contact-widget {
  @include panel-format();

  h4 {
    color: $primary-text-color;
  }

  a {
    color: $highlight-text-color;
  }
}

.table-of-contents {
  @include panel-format;

  li {
    a {
      color: $highlight-text-color;
      border-bottom: 1px solid $panel-border;
    }
  }
}

.landing-page {
  #mastodon-timeline {
    background: none;
  }

  &__mascot img {
    height: 230px;
    margin-left: 20px;
    margin-top: -20px;
  }
  &__logo img {
    mix-blend-mode: unset;
  }

  &__hero,
  &__information,
  &__call-to-action {
    @include panel-format();

    &.contact-widget {
      @include panel-format();
    }
  }

  &__forms {
    background: none;
    box-shadow: none;
  }

  .header-wrapper.compact {
    background: linear-gradient(150deg, lighten($ui-base-color, 8%), $ui-base-color);
  }

  .information-board {
    &__section strong {
      color: $dark-text-color;
    }

    .panel {
      @include panel-format();
    }
  }

  .extended-description {
    padding: 50px 0;

    .container-alt {
      @include panel-format();
      padding: 20px;
    }
  }
}

.simple_form,
.rich-formatting {
  p a,
  .input.boolean label a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.directory {
  &__tag {
    a {
      @include panel-format();
    }
  }
}

// Admin page
.admin-wrapper {
  .sidebar {
    background: rgba($ui-base-lighter-color, 0.15);
  }

  .sidebar-wrapper {
    background: $ui-base-color;
    background-image: $base-color-diamonds;

    &__inner {
      background: none;
    }
  }

  .content-wrapper {
    background: $panel-background;
  }
}

.simple_form .warning, .table-form .warning {
  color: $white;
  background: rgba($error-value-color, 0.8);

  a {
    color: $white;
  }
}

// Components
.status-card__actions button,
.status-card__actions a {
  color: $white;
}

.compose__action-bar-dropdown .icon-button {
  color: inherit;
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
  color: $white;
}

.status::before,
.notification::before {
  content: "";
  display: block;
  width: 12px;
  height: 14px;
  position: absolute;
  left: -11px;
  background: $balloon-tail;
}

.status.muted::before,
.boost-modal__container .status::before {
  background: $muted-balloon-tail;
}

.notification {
  @include panel-format($opacity:0.8);
  @include status-position();
  margin-bottom: 8px;
  padding-left: 8px;
  margin-left: 1px;
  margin-right: 2px;
}

.notification__message {
  margin-left: 25px;
  padding: 8px 0;
  color: $dark-text-color;

  .fa:not(.star-icon) {
    color: $ui-highlight-color;
  }
}

// Why the heck is this even a matcher
.public-layout .footer .grid .column-2 h4 a {
  color: $darker-text-color;
}

.public-layout .footer ul a {
  color: $dark-text-color;
}

.public-layout .footer .brand svg path {
  fill: default !important; // Set to some invalid color
}

.embed,
.public-layout {
  .footer {
    color: $dark-text-color;
  }

  .header {
    background-color: $ui-highlight-color;
    background-image: $highlight-color-diamonds;
    border-bottom: solid 2px $panel-shadow;

    .nav-link {
      color: $darker-text-color;
      text-shadow: $panel-box-shadow;

      &.nav-button {
        text-shadow: none;
      }

      &:hover {
        background: transparentize($white, 0.3);
        text-shadow: none;
        text-decoration: none;
      }
    }
  }

  .public-account-header {
    &__bar {
      &::before {
        background: $ui-base-color;
      }

      .avatar img {
        border-radius: 8px;
        border: 2px solid $panel-border;
      }
    }

    &__tabs__tabs {
      .counter {
        border-right: none;

        &.active::after {
          border-bottom: 4px solid $panel-border;
        }

        &:hover::after {
          border-bottom: 4px solid lighten($panel-border, 10%);
        }

        &::after {
          border-bottom: 4px solid lighten($panel-border, 20%);
        }
      }
    }
  }

  .directory__card {
    @include panel-format();

    &__img {
      border-radius: 6px;
    }

    &__bar {
      background: none;
      border-bottom: 1px solid $panel-border;

      .display-name strong {
        color: $secondary-text-color;
      }

      .display-name span {
        color: $primary-text-color;
      }

      .avatar {
        @include avatar-radius();
      }
    }

    &__extra {
      background: none;

      .account__header__content {
        border-bottom: 1px solid $panel-border;
      }
    }
  }

  .endorsements-widget,
  .placeholder-widget,
  .public-account-bio {
    @include panel-format();
  }

  .status {
    padding: 15px;
  }
}

.status__avatar,
.public-layout .status__avatar {
  height: 48px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 48px;
  margin-left: -74px;
}

.status {
  @include status-position();
}

.account__avatar,
.account__avatar-overlay-base,
.account__avatar-overlay-overlay,
.activity-stream .status.light .status__avatar,
.activity-stream .detailed-status.light .avatar,
.account__avatar-composite,
.account__avatar-composite div
{
  border: solid 2px $panel-border;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.account__avatar-overlay-overlay {
  background-color: rgba($ui-base-color, 0.9);
}

.drawer {
  min-width: 320px;

  &__pager,
  &__header {
    background-color: $ui-highlight-color;
    background-image: $highlight-color-diamonds;
  }

  &__header {
    padding-left: 83px;
    border-bottom: solid 2px $panel-shadow;
    margin-bottom: 0px;

    a {
      &:hover {
        background: transparentize($white, 0.3);
        text-shadow: none;
      }
    }
  }

  &__tab {
    padding: 15px 4px;
    text-shadow: $panel-box-shadow;
  }

  &__inner {
    background: none;

    &.darker {
      background-color: $ui-highlight-color;
      background-image: $highlight-color-diamonds;
    }

    &__mastodon {
      background: none;
      visibility: hidden; // Hide the elephant
    }
  }
}

.tabs-bar {
  padding-left: 90px;
  background-color: $ui-highlight-color;
  background-image: $highlight-color-diamonds;
  border-bottom: 2px solid $panel-shadow;

  &__link {
    color: $darker-text-color;
    text-shadow: $panel-box-shadow;
    border-bottom: 0;

    &:hover {
      background: transparentize($white, 0.3);
    }

    &.active {
      color: inherit;
      border-bottom: 0;
      text-shadow: none;
      background: transparentize($white, 0.5);
    }
  }
}

@media screen and (min-width: 320px) {
  .tabs-bar {
    margin: 0;
    padding-left: 90px;
  }

  .tabs-bar__link {
    padding: 17px 4px;
  }

  .search {
    margin-bottom: 0;
  }

  .columns-area {
    padding: 0;
  }
}

.empty-column-indicator,
.column>.scrollable {
  background: transparentize($ui-base-lighter-color, 0.9);
}

.column-header,
.column-header > .column-header__back-button,
.column-header__back-button,
.column-back-button,
.column-header__button {
  font-weight: bold;
  background: desaturate(darken($ui-base-color, 12%),18%);
  color: $primary-text-color;
}

.column-header {
  &.active {
    .column-header__icon {
      color: $ui-highlight-color;
    }
  }
}

.compose-form .compose-form__buttons-wrapper {
  background: darken($ui-base-color, 6%);
}

.compose-form .compose-form__warning {
  background: lighten($ui-highlight-color, 30%);

  a {
    color: $dark-text-color;
    text-decoration: none;
  }
}

.button.logo-button {
  background: darken($ui-base-color, 10%);
  &:hover {
    background: $white;
  }
}

// Change the background color of status__content__spoiler-link
// this is such a mess
.public-layout .header .nav-button,
.reply-indicator__content .status__content__spoiler-link,
.status__content .status__content__spoiler-link,
.status__content__spoiler-link,
.activity-stream .status.light .status__content a.status__content__spoiler-link,
.activity-stream .detailed-status.light .status__content a.status__content__spoiler-link {
  color: $white;
  background: $ui-primary-color;

  &:hover {
    color: $white;
    background: lighten($ui-primary-color, 6%);
  }
}

.reply-indicator {
  background: $ui-base-color;
}

.status__display-name strong,
.account__display-name strong,
.display-name strong {
  color: $secondary-text-color;
}

.status__expand {
  width: 0;
}

.muted {
  .status__content p {
    color: lighten($primary-text-color, 15%);
  }

  .status__content a,
  .display-name__account
  {
    color: lighten($dark-text-color, 15%);
  }

  .status__display-name strong,
  .status__content a.mention
  {
    color: lighten($secondary-text-color, 15%);
  }

  .status__avatar {
    opacity: 0.65;

    .account__avatar,
    .account__avatar-overlay,
    .account__avatar-overlay-overlay,
    .account__avatar-overlay-base, {
      box-shadow: none;
    }
  }

  .status__content__spoiler-link {
    background: lighten(saturate($ui-primary-color, 5%), 10%);
    color: $white;

    &:hover {
      background: lighten(saturate($ui-primary-color, 5%), 20%);
    }
  }

  .status__action-bar .fa {
    opacity: 0.75;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;

    &:hover {
       opacity: 1;
    }
  }
}

.column-link {
  font-weight: bold;
  background: desaturate(darken($ui-base-color, 12%),18%);
}

.column-subheading {
  background: darken($ui-base-color, 10%);
  color: $darker-text-color;
}

.getting-started {
  background: inherit;

  &__trends {
    @include panel-format;

    h4 {
      color: $primary-text-color;
    }
  }
}

.getting-started__wrapper {
  background-image: $highlight-color-diamonds;
  height: unset !important; // Bug in upstream mastodon?
}


.search__icon .fa {
  color: inherit;
}

.search__input {
  background: desaturate(darken($ui-base-color, 12%), 10%);
  color: $darker-text-color;
}

.search-results {
  background: transparentize(darken(desaturate($ui-highlight-color, 11%), 19%), 0.4);
}

.search-results__header {
  border-bottom: solid 1px lighten(desaturate($ui-highlight-color, 26%), 12%);
}

.list-editor__accounts,
.search-results__section {
  .fa {
    text-shadow: $panel-box-shadow;
  }

  strong {
    color: lighten(desaturate($ui-highlight-color, 19%), 21%);
    padding-top: 3px;
  }

  span {
    color: lighten(desaturate($ui-highlight-color, 26%), 12%);
  }

  .account__avatar {
    box-shadow: none;
  }

  .account {
    border-bottom: 0;
  }

  h5 {
    background: transparentize(darken(desaturate($ui-highlight-color, 11%), 19%), 0.4);
    color: inherit;
  }

  .search-results__hashtag {
    color: lighten(desaturate($ui-highlight-color, 19%), 21%);

    &:hover,
    &:active,
    &:focus {
      color: inherit;
    }
  }
}

.compose-form__publish-button-wrapper > .button {
  background: $ui-base-lighter-color;
}

.navigation-bar {
  background: transparentize(darken(desaturate($ui-primary-color, 11%), 18%), 0.4);
  color: lighten(desaturate($ui-highlight-color, 26%), 12%);
  font-weight: bold;

  strong {
    color: lighten(desaturate($ui-highlight-color, 19%), 21%);
  }
}

.column, .drawer {
  padding-bottom: 0 !important;
}

.account-timeline__header {
  padding-bottom: 5px;
}

.account__header .account__header__display-name,
.account__header__display-name {
  color: $white;
}

.account__header__content,
.account__header .account__header__content {
  color: $primary-text-color;

  .hashtag, .mention {
    color: $secondary-text-color;
  }

  a {
    color: $dark-text-color;
    text-decoration: none;
  }
}

.account__header__content.p-note {
  color: $darker-text-color;
}

// Stream entries
.activity-stream,
.accounts-grid {
  background: rgba($black, 0.1);
}

.accounts-grid.empty img {
  opacity: 0.6;
}

.activity-stream-tabs {
  background: rgba($white, 0.5);
  border-bottom: 0;
  border-radius: 0 0 25px 25px;
  margin-bottom: 10px;
}

.status,
.detailed-status,
.activity-stream .detailed-status.light,
.report-modal__statuses .status-check-box,
.card .card__bio,
.box-widget,
.account__header__bar,
.hero-widget,
.boost-modal,
.confirmation-modal,
.report-modal,
.actions-modal,
.mute-modal {
  @include panel-format();

  &.status-direct {
    &:not(.read) {
      @include panel-format();
    }
  }
}

.boost-modal,
.confirmation-modal,
.report-modal,
.actions-modal,
.mute-modal {
  color: $primary-text-color;

  .status__content p {
    color: $primary-text-color;
  }
}

.hero-widget__text,
.landing .hero-widget__text {
  background: none;
}

.account__header__bar {
  border-radius: 0;
}

.poll__chart {
  background: lighten($ui-highlight-color, 10%);
}

.landing .hero-widget__footer {
  background: none;
}

@media screen and (min-width: 600px) {
  .public-layout .public-account-header__tabs__name h1,
  .public-layout .public-account-header__tabs__name h1 small {
    color: $white;
  }
}

.public-account-header__image::after,
.card::after {
  background: $black-background;
}

.icon-button {
  &.active:not(.star-icon) {
    color: $ui-highlight-color;

    &:hover {
      color: lighten($ui-highlight-color, 15%);
    }
  }

  &:hover,
  &:active {
    background: none;
  }

  &.overlayed {
    background: rgba($black, 0.4);
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &.disabled {
    color: inherit;
    opacity: 0.6;
  }
}

.media-gallery__gifv__label {
  background: rgba($white, 0.4);
}

.account-gallery__item {
  a {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.media-gallery__item-thumbnail {
  &,
  img {
    object-fit: contain;
  }
}

.media-gallery__item-gifv-thumbnail {
  object-fit: contain;
  top: 0%;
  transform: none;
}

.media-spoiler-video {
  background-size: contain;
  width: 100% !important;
  background: rgba($black, 0.2);
}

.relationship-tag,
.spoiler-button__overlay__label {
  color: $white;
}

.detailed-status__action-bar {
  background: none;
  border: 0;
}

.activity-stream {
  .pre-header {
    padding-bottom: 10px;
  }

  .entry {
    // Original style has overrides for first/last child
    border-radius: 8px !important;
    background: none;

    .entry-center {
      padding-bottom: 10px;
    }

    &:first-child,
    &:last-child {
      &,
      .status,
      .detailed-status,
      .detailed-status.light,
      .status.light {
        border-radius: 8px !important;
      }
    }
  }

  .detailed-status.light {
    .avatar img {
      border-radius: 0;
    }

    .status__content {
      color: $primary-text-color;
    }

    .detailed-status__display-name .display-name,
    .display-name {
      strong {
        color: $secondary-text-color;
      }

      span {
        color: $primary-text-color;
      }
    }
  }

  .status.light {
    padding: 8px 14px 14px;

    .status__avatar {
      left: 10px;
      top: 0;
    }

    .status__content {
      color: $primary-text-color;
    }

    .display-name {
      strong {
        color: $secondary-text-color;
      }

      span {
        color: $primary-text-color;
      }
    }
  }
}

.reply-indicator__content,
.status__content {
  p a:not(.hashtag):not(.mention) {
    color: $highlight-text-color;
    .unhandled-link {
      color: $highlight-text-color;
    }
  }
}

.react-toggle-track {
  background-color: $ui-base-lighter-color;
}

.report-modal__statuses .status-check-box {
  margin: 8px;
}

.account--follows-info {
  color: $white;
}

.community-timeline__section-headline,
.public-timeline__section-headline,
.account__section-headline {
  border-bottom: 0;
  background: rgba($white, 0.3);

  a {
    padding: 10px 0;
  }
}

.regeneration-indicator {
  background: inherit;
}

.regeneration-indicator__label {
  margin-top: 0;
}

.compose-form .compose-form__modifiers .compose-form__upload-thumbnail {
  background-size: contain;
}

.react-swipeable-view-container,
.react-swipeable-view-container .columns-area,
.react-swipeable-view-container .drawer,
.react-swipeable-view-container .column {
  height: 100% !important;
}

.account-role.bot {
  color: lighten($error-red, 5%);
  background-color: rgba(lighten($error-red, 12%), 0.4);
}

.accounts-grid .account-grid-card .account-grid-card__header::after {
  background: $black-background;
}

.card .controls .icon-button,
.account-grid-card .controls .icon-button {
  color: $white;
}

.list-editor .drawer__inner.backdrop {
  @include panel-format();
  border-radius: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}

.list-editor__accounts .account {
  background: transparentize(darken(desaturate($ui-highlight-color, 11%), 19%), 0.4);
}

// Admin page
.dashboard__widgets a:not(.name-tag) {
  color: $ui-primary-color;
}
